@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    margin: 60px auto;
    width: 70%;
    font-size: 16px; /* Standard font size */
}

nav ul,
footer ul {
    padding: 0;
    list-style: none;
    font-weight: bold;
}

nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #2471a3;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 28px; /* 1.8rem */
}

h2 {
    font-size: 19.2px; /* 1.2rem */
    margin-top: 20px;
    margin-bottom: 5px;
}

p {
    font-size: 19.2px; /* 1.2rem */
    line-height: 1.4em;
    color: #333;
    margin: 10px 0;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 12.8px; /* 0.8rem */
}

ul.news-list {
    margin: 20px 0;
    padding: 0;
    font-size: 19.2px; /* 1.2rem */
    line-height: 2em;
}

ul.news-list li {
    list-style: none;
}

.content-row {
    display: flex;
    gap: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-pic {
    width: 200px;
    height: auto;
}
